* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --brand-primary: #0768ac;
    --brand-secondary: #03c180;
    --bg_default: #1a1a1a;
    --bg_body: #282828;
    --lines-color: #000000;
    --body-text: #ededed;
    --heart-color: #dc143c;
    --stars-color: #e5981a;
    --main-padding: 60px;
  }
  body {
    font-family: "Nunito Sans", sans-serif;
    color: var(--body-text);
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .bg-white{
    background-color: #ffffff;
  }

  

  .container {
    width: 100%;
    padding-inline: 60px;
    margin-inline: auto;
  }

  .header {
    justify-content: space-between;
    background-color: var(--bg_default);
    height: 80px;
    display: flex;
    align-items: center;
  }
  .header h1 {
    color: var(--brand-primary);
    font-size: 1.2rem;
    font-weight: 600;
    opacity: 0.95;
  }
  .header a{
    text-decoration: none;
    color: var(--body-text);
    
  }

  .theme,.theme  button {
    display: flex;
    align-items: center;
  }


  nav ul {
    list-style: none;
    justify-content: flex-end;
    gap: 5px;
    display: flex;
    align-items: center;
  }
  
  nav ul li button {
    border: 1px solid var(--lines-color);
    border-radius: 5px;
    justify-content: center;
    width: 130px;
    height: 35px;
    gap: 5px;
    font-size: 1rem;
    font-weight: 500;
    background-color: var(--bg_default);
  }
  
  li button ion-icon {
    font-size: 1rem;
    color: var(--body-text);
  }

  .our-website {
    display: flex;
    justify-content: center;
    position: relative;
    background-color: var(--bg_default);
    height: 8rem;
    width: 100vw;
  }
  
  .triangle {
    position: absolute;
    top: 0;
    width: 100%;
    height: 60%;
  }
  .triangle1 {
    left: 0;
    background-image: linear-gradient(
      to right,
      var(--brand-primary),
      var(--brand-secondary)
    );
    clip-path: polygon(0% 0%, 90% 0%, 0% 100%);
    z-index: 2;
  }
  
  .triangle2 {
    right: 0;
    background-color: var(--brand-secondary);
    clip-path: polygon(10% 00%, 100% 100%, 100% 00%);
  }
  
  .our-website h2 {
    color: var(--brand-secondary);
    font-weight: 700;
    font-size: 1.6rem;
    margin-top: 3.4rem;
  }
  
  .our-website p {
    font-weight: 400;
    opacity: 0.8;
    font-size: 1.1rem;
    margin-top: -5px;
  }

  .website-content {
    background-color: var(--bg_body);
    padding-top: 25px;
  }
 
  
  .search {
    background-color: var(--bg_body);
    display: flex;
    flex-wrap: wrap;
    position: relative;
    box-shadow: 0px 0px 5px 0px var(--lines-color);
    border-radius: 12px;
    overflow: hidden;
  }
  
  .search ::placeholder {
    font-size: 1.2rem;
    font-weight: 500;
  }
  
  .search .input {
    background-color: var(--bg_default);
    width: 72%;
    color: var(--body-text);
    display: flex;
    align-items: center;
   
  }
  .input ion-icon {
    font-size: 1.3rem;
    margin-left: 15px;
  }
  .search .input input {
    font-size: 1.3rem;
    margin-left: 20px;
    border: none;
    flex: 1;
    outline: none;
    background-color: var(--bg_default);
  }
  
  .search label {
    display: block;
    font-size: 13px;
    margin-left: 5px;
    font-weight: 500;
  }
  
  .search select {
    border: none;
    width: 100%;
    font-size: 1rem;
    outline: none;
    font-weight: 500;
    cursor: pointer;
    background-color: var(--bg_default);
    color: var(--body-text);
  }
  .search-dropdown {
    border: none;
    text-align: left;
    width: 14%;
    padding: 10px 15px;
    background-color: var(--bg_default);
    position: relative;
    border-left: 1px solid var(--lines-color);
    cursor: pointer;
    color: var(--body-text);
  
  }


  .web-topics {
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 40px;
    font-weight: 800;
  }
  
  .cards{
    background-color: var(--bg_body);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 30px;
    grid-auto-rows: 1fr;
  }
  
  .cards a {
    text-decoration: none;
    text-transform: none;
    color: var(--body-text);
  }
  
  .card {
    box-shadow: 0px 0px 3px 0px var(--lines-color);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .card img {
    height: 50%;
    width: 100%;
    background-position-x: center;
    object-fit: cover;
  }
 
  .card-content {
    background-color: var(--bg_default);
    padding: 1em;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .topic-type {
    font-weight: 600;
    font-size: 1rem;
  }
  
  .topic-name {
    font-weight: 800;
    font-size: 1.1rem;
  }
  
  .stars ion-icon {
    color: var(--stars-color);
    margin: 0;
    font-size: 1.2rem;
  }
  
  .stars {
    margin-top: auto;
    display: flex;
    gap: -3px;
  }
  
  .author {
    margin-top: 16px;
    font-weight: 600;
    opacity: 0.5;
  }
  .trim-one {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .trim-two {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  

  .my-favourites {
    height: 210px;
    width: 100vw;
    position: fixed;
    bottom: 0;
    background-color: var(--bg_default);
    z-index: 99;
    box-shadow: 0px 0px 7px 1px var(--lines-color);
   
  }
  
  .my-favourites h3 {
    margin: 15px 0;
    font-size: 20px;
    font-weight: 700;
  }
  .favourite-topics {
    overflow-x: auto;
    display: flex;
    gap: 20px;
  }
  .favourite-topic {
    border-radius: 5px;
    width: 140px;
    height: 130px;
    box-shadow: 0px 0px 7px 0px var(--lines-color);
    font-size: 0.8rem;
    flex: none;
    margin: 5px 2px;
  }
  
  .favourite-topic img {
    object-fit: cover;
    height: 50%;
    width: 100%;
    border-radius: 5px 5px 0 0;
  }
  
  .favourite-topic h4 {
    font-weight: 700;
    margin-left: 5px;
    font-size: 1.1rem;
  }
  
  .favourite-topic .stars {
    margin-left: 5px;
  }

  @media screen and (max-width: 768px) {
    .search .input {
      width: 100%;
      height: 50px;
      border-bottom: 1px solid var(--lines-color);
    }
    .search-dropdown {
      width: 50%;
      height: 50px;
      border: none;
    }
    .filter-by {
      border-left: 1px solid var(--lines-color);
    }
  
    .triangle1,
    .triangle2 {
      height: 40%;
    }
  }
  
  @media screen and (max-width: 570px) {
    nav li span {
      display: none;
    }
    nav ul li button {
      width: 50px;
    }
    .container,
    .our-website {
      padding-inline: 15px;
    }
    .our-website{
      height: auto;
    }
    .our-website h2 {
      margin-top: 30px;
    }
    .triangle1,
    .triangle2 {
      height: 30%;
    }
   
    header h2 {
      font-size: 1rem;
    }
    .top-website p {
        font-size: 1rem;
      }
      .header a{
        display: none;
      }
  }



